.main {
  color: blue; 
}

.svg {
  background: url('./media/analytics.svg');
    width: 100px;
  height: 100px;
}

.img {
  background-position: center ;
  background-size: cover;
  width: 100px;
  height: 100px;
}
